<div class="container wrapper">
  <div class="row">
      <!-- table -->
      <div class="col-md-12">
          <div class="inner">
              <h3>LUGARES</h3>
              <a class="btn btn-primary text-white add" routerLink="/add-place">
                <i class="fas fa-user-plus"></i> Agregar
              </a>
              <table class="table table-bordered">
                  <thead>
                      <tr>
                          <th scope="col">#</th>
                          <th scope="col">Nombre</th>
                          <th scope="col">direccion</th>
                          <th scope="col">Fecha registro</th>
                          <th scope="col">Action</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let item of placeList">
                          <th scope="row">{{item.id}}</th>
                          <td>{{item.name}}</td>
                          <td>{{item.address}}</td>
                          <td>{{item.created_at}}</td>
                          <td>
                              <button type="button" class="btn btn-success btn-sm move-right" (click)="onEdit(item)">Edit</button>
                              <button type="button" class="btn btn-danger btn-sm" (click)="deletePlace(item.id)">Remove</button>
                          </td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>
  </div>
</div>
