<div class="card mt-5">
  <div class="card-body">
      <h4 class="text-center">Registro de Escuela profesional</h4>
      <form #schoolForm="ngForm" (ngSubmit)="submitForm(schoolForm)">
          <input type="hidden" name="id" [(ngModel)]="schoolService.selectSchool.id">
          <div class="form-group mb-3">
            <input type="text" class="form-control" name="name"
            [(ngModel)]="schoolService.selectSchool.name"
              placeholder="Nombres">
          </div>
          <div class="form-group ">
            <button class="btn btn-primary me-2" type="submit">
                <i class="fas fa-plus-circle" ></i> Agregar
            </button>
            <button class="btn btn-secondary me-2" type="reset" (click)="resetForm(schoolForm)">
                <i class="fas fa-sync-alt"></i> Resetear
            </button>
            <button class="btn btn-secondary" type="button" routerLink="/">
              <i class="fas fa-hand-point-left"></i> Cancelar
          </button>
          </div>
        </form>
  </div>
</div>

